$nocolor : rgba(0,0,0,0.0);
$pagetitlefontsize : 2rem;
$popuptitlefontsize : 1.0rem;
$carfontsize : 1.9rem;
//maincolors
$darkgrey: #484848;
$green: #16848A;
$red: #FF5A5F;
//subcolors
$black: black;
$transpablack: rgba(0,0,0,0.6);
$white: #fff;
