.datepicker{
border: 1px solid $white;
border-radius: 4px 4px;
padding-top: 0.7rem;
padding-bottom: 0.7rem;
margin-top: 2rem;
margin-bottom: 2rem!important;

};
img{
    width: 100vw;
}
.detail{
    .reviewpannel{
        border-left: 1px solid $white;
        margin-top: 2px;
    }
    .reviewpannelwrite{
        border-right: 1px solid $white;
        margin-top: 2px;
        text-align: right
    }
    .plaatsen{
        margin-top: 5px;
    }
    #sterrenplaats{
        margin: 10px 0px;
    }
}
.vdp-datepicker__calendar{
background-color: $white;
color: $green;
}
.vdp-datepicker__calendar{
    left: 20px;
}
#rightcalendar{
    .vdp-datepicker__calendar{
        left: -150px;   
    }
}
.vdp-datepicker input{
    width: 100%;
    padding: 5px 0px;
    border: 1px solid $darkgrey;
}
.vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.selected.highlighted, .vdp-datepicker__calendar .cell.selected:hover{
  color: white;
  background-color: $red!important;  
}
.vdp-datepicker__calendar{
    header{
        width: 300px
    }
}
.vdp-datepicker{
    text-align: center!important;
}
.detail{
    ul {
        list-style: none;
        padding:0;
        margin:0;
    }
    
    li { 
        padding-left: 1em; 
        text-indent: -.7em;
    }
    li:before{
        content: "\f10c";
        font-family: FontAwesome;
        color: $red; 
        margin-right: 4px;       
    }
    .card.noshadow.grey.white{
        margin-bottom: 0.5rem
    }
    .buttonhuur{
        border: 1px solid $white;
        font-size: 2.5rem;
        padding: 0.5rem;
        background-color: $transparant;
        color: $white;
        &:hover{
            background-color: $red;
            color: $white;
            border-color: $red;
        }
        :focus{
            border-color: $white;
        }
    }
} 
    