.datepicker{
border: 1px solid $white;
border-radius: 4px 4px;
padding-top: 0.7rem;
padding-bottom: 0.7rem;
margin-top: 2rem;
margin-bottom: 2rem!important;

};
img{
    width: 100vw;
}
.detail{
    ul {
        list-style: none;
        padding:0;
        margin:0;
    }
    
    li { 
        padding-left: 1em; 
        text-indent: -.7em;
    }
    li:before{
        content: "\f10c";
        font-family: FontAwesome;
        color: $red; 
        margin-right: 4px;       
    }
    .card.noshadow.grey.white{
        margin-bottom: 0.5rem
    }
    button{
        border: 1px solid $white;
        font-size: 2.5rem;
        padding: 0.5rem;
        background-color: $transparant;
        color: $white;
        &:hover{
            background-color: $red;
            color: $white;
            border-color: $red;
        }
        :focus{
            border-color: $white;
        }
    }
} 
    