.noradiusbutton{
    border-radius: 0px;
}
.shadow{
    box-shadow: 0px 0px 5px #484848;
}
.notextdecoration{
    text-decoration: none;
}
.green{
    color: $green;
}
.red{
    color: $red!important;
}
.transpablack{
    background-color: $transpablack;
}
.blackgrey{
    background-color: $blackgrey
}
.inline{
    display: inline;
}
.grey{
    background-color: $darkgrey;
}
.pagetitle{
    font-family: $lemonmilk;
    font-size: $pagetitlefontsize;
    text-align: center;
    margin: 10px 0px;
    padding: 10px 0px;
}
.addpicture{
    margin-left: 0px;
}
.left{
    text-align: left;
}
.bold{
    font-weight: 600!important;
}
.customcolumn{
    padding: 0rem!important;
}
.nominheight{
    min-height: 0px!important
}
.alineatitle{
    font-size: 1rem!important;
    margin-top: 9px;
}
.subtitle{
    font-size: 1.2rem!important;
}
.popuptitle{
    font-family: $lemonmilk!important;
    font-size: $popuptitlefontsize;
}
.lemonmilk{
    font-family: $lemonmilk;
}
.raleway{
    font-family: $raleway;
}
.nopadding{
    padding: 0px!important;
}
.noshadow{
    box-shadow: 0 0px 0px rgba(10, 10, 10, 0.0), 0 0 0 0px rgba(10, 10, 10, 0.0);}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.center{
    text-align: center;
}
.fullwidth{
    width: 100%
}
.fullheight{
    height: 100%;
}
.right{
    text-align: right;
}
.nodecoration{
    text-decoration: none !important;
}
.inlineblock{
    display: inline-block;
}
.block{
    display: block;
}
.white{
    color: $white!important;
}
.floatright{
    float: right;
}
.nomargin{
    margin: 0px!important;
}
.regulartextfontsize{
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}
.inlineblock{
    display: inline-block;
}