.v-select .selected-tag{
    background-color: #f0f0f0!important;
}
.dropdown-toggle.clearfix{
    width: 100%
}
.v-select input[type=search], .v-select input[type=search]:focus{
    width: 10px!important;
}